// Body
$body-bg: #FFF;
$screen-lg-min: 1440px;
$container-lg:1260px;
// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "微软雅黑","Microsoft YaHei","Raleway", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #221715;

// Navbar
$navbar-default-bg: #1a1416;
$navbar-inverse-bg: #1a1416;
$navbar-inverse-brand-color: #ffffff;
$navbar-border-radius:0;
$navbar-inverse-link-active-color:#ffffff;
$navbar-inverse-link-color:#ffffff;
$navbar-inverse-link-active-bg:#1a1416;
$navbar-height:62px;
$font-size-large:24px;
$navbar-inverse-toggle-border-color:#cf000f;
$navbar-inverse-toggle-hover-bg:#cf000f;
$border-radius-base:0;
$navbar-inverse-link-bg:#cf000f;
$navbar-inverse-link-active-bg:#a6010d;
$navbar-inverse-link-hover-bg:#a6010d;
$navbar-margin-bottom: 5px;
// Buttons
$btn-default-color: $text-color;
$btn-primary-bg:#e40011;
$btn-primary-color:#FFF;
$btn-border-radius-large:0;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
.icon-contactus {
    margin-top: 27px;
}
header {
    margin-bottom: 25px;
}
.language {
    height: 39px;
    line-height: 39px;
}
.language a,.language span {
    font-size: 12px;
}
.language span.active {
    color:#e40011;
}
.language a,.language a:hover,.language a:active,.language a:focus {
    color:#221715;
}
.language .divider {
    padding-left: 10px;
    padding-right: 10px;
}
.homepage-topper-01 {

}
.homepage-list .list-group .list-group-item,.homepage-list .list-group .list-group-item a {
    color:#221715;
    font-size: 18px;
}
.homepage-list .list-group .list-group-item {
    padding:5px 15px;
}
.homepage-list .list-group .list-group-item:first-child {
    padding:8px 15px;
}
.homepage-list .list-group .list-group-item:last-child {
    padding:7px 15px;
}
.col-two .arrow-prev,.col-two .arrow-next {
    display: none;
}
.nav-header-01 .navbar-nav {
    padding-left: 160px!important;
}
.culture .navbar-nav,.nav-header-01 .navbar-nav {
    padding-left: 0!important;
}
.culture .navbar-nav li a,.nav-header-01 .navbar-nav li a {
    color:#342427;
    font-size: 16px;
}
.culture .navbar-nav li span,.nav-header-01 .navbar-nav li span {
    display: block;
    padding: 10 15px;
    line-height: 62px;
}
.culture h2,.contactus h2,.items h2,.item h2 {
    color:#342427;
    margin-left: 15px;
    border-left: #e40011 solid 2px;
    padding-left: 15px;
    font-size: 24px;
}
.culture h4,.contactus h4 {
    color: #e40011;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.culture .content {
    padding: 15px 36px 20px;
    font-size: 15px;
    color:#342427;
    line-height: 30px;
}
.culture .content p {
    margin: 0;
    padding: 0;
}
.culture .img-culture {
    padding: 0 0 20px;
}
.contactus .contactusMap {
    margin-top:30px;
    margin-bottom: 40px;
}
.contactus .contactusMap #dituContent {
    height: 550px;
}
.items .items-list {
    margin-top: 25px;
}
.items  .items-list img {
    border: 1px solid #dddddd;
}
.items .items-list h3 {
    font-size: 20px;
}
.items .item-description ul {
    list-style: none;
    height: 90px;
    padding: 0;
    margin: 0 0 30px 0;
}
.items .item-description ul li {
    display: block;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 40px;
    float: left;
}
.items .item-description ul li span{
    border-left: 2px solid #ee000d;
    padding-left: 10px;
    margin-left: 4px;
}
.item {
    margin-top:30px;
}
.item h2 {
    margin-top: 5px;
}
.item .img-item {
    border: 1px solid #dddddd;
}
.item .list-item {
    margin: 30px 0 0 0px;
    line-height: 36px;
}
.item .list-item li span {
    color:#e40011;
}
.item-detail h3 {
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    background: url(/images/bkg-border-01.jpg) 0 bottom no-repeat;
}
.item-detail h4 {
    padding: 15px 15px 0 0;
    font-size: 24px;
    line-height: 30px;
}
.item-detail h4 span {
    padding-left: 10px;
    color: #e40011;
}
.item-detail .item-description-01 {

}
.item-detail .item-choosable {
    margin-top: 20px;
    margin-bottom: 40px;
}
.item-detail .item-choosable img {
    border: 1px solid #dddddd;
}
.solutions {
    margin-bottom: 60px;
}
.solutions h2 {
    color:#342427;
    margin-left: 23px;
    border-left: #e40011 solid 2px;
    padding-left: 15px;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 28px;
}
.solutions .solutions-desc {
    margin-top: 30px;
    margin-bottom: 60px;
}
.solutions .solutions-desc .solution {
    padding:40px 36px;
    border: 1px solid #ccc;
    min-height: 200px;
    margin-top: 40px;
}
.solutions .btn {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 30px;
}
.solutions .solutions-list {
    margin-top: 20px;
}
.solutions .solutions-list h4 {

}
.solutions .solutions-list p {

}
.solutions .row-more {
    margin: 40px 0;
}
.solutions .row-more .btn {
    padding-left: 80px;
    padding-right: 80px;
}
.supports {
    margin-bottom: 60px;
}
.supports h2,.support h2 {
    color:#342427;
    margin-left: 15px;
    border-left: #e40011 solid 2px;
    padding-left: 15px;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 28px;
}
.supports h3 {
    color:#342427;
    font-size: 24px;
    line-height: 24px;
    background-color: #e4e4e4;
    padding:15px 20px;
}
.supports h5 {
    color:#fff;
    font-size: 24px;
    line-height: 24px;
    background-color: #342427;
    padding:15px 20px;
}
.supports .supports-more {
    position: absolute;
    right: 15px;
    bottom: 0;
}
.supports .supports-list {
    position: relative;
}
.supports  .btn {
    padding-left: 80px;
    padding-right: 80px;
}
.supports .supports-text-more {
    text-align: right;
}
.nav-header-01 {
    margin-top: -25px;
    background: #bcbab9;
    padding-top: 20px;
    padding-bottom: 0px;
}
.support .content {
}
.support .content .media {
    padding-top: 40px;
    padding-bottom: 40px;
}
.support .content .media h4 {
    margin-top: 30px;
    margin-bottom: 30px;
}
#items-menu {
    position: relative;
}
#items-menu ul {
    position: absolute;
    top:6px;
    left:-15px;
    width: 200px;
    z-index: 999;
}
#items-menu .list-group .list-group-item,#items-menu .list-group .list-group-item a {
    color:#221715;
    font-size: 15px;
}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
footer {
    background: #c4c6c3;
    border-top: #e8eae7 18px solid;
}
footer .part1,footer .part2 {
    margin: 50px 0;
    padding:0 10px;
    border-right: 1px solid #a0a0a0;
    height:200px;
}
footer .part3 {
    margin: 50px 0;
    padding:0 10px;
    height:200px;
}
footer .part1 p {
    font-size: 14px;
    margin-bottom: 0;
}
footer .part1 h4 {
    font-size: 24px;
    color: #e40011;
}
footer .part2 p {
    font-size: 14px;
}
footer .copyright {
    background: #ed0000;
    border-top: 1px solid #fff;
    padding: 60px 0 40px 0;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
footer .copyright p {
    margin-bottom: 5px;
}
.col-two {
    margin-top:-20px;
    margin-bottom: 30px;
}
.col-one {
    margin-top: 0px;
}
.col-one .nav {
    border-left: 2px solid #980c0a;
    margin-left: 15px;
    padding-left: 15px;
    height: 27px;
    line-height: 27px;
    font-size:27px;
}
.col-two .nav {
    height: 60px;
    line-height: 60px;
    background: url(/images/bkg-triangle.jpg) 0 0 no-repeat;
    color: #fff;
    margin-top: 50px;
    font-size:27px;
}
.col-two .nav span {
    padding-left: 40px;
}
.col-one .nav .pull-right {
    padding-right: 25px;
}
.col-two .nav .pull-right {
    padding-right: 40px;
}
.col-one .nav .pull-right a {
    color: #980c0a;
    text-decoration: none;
    height: 27px;
    line-height: 27px;
}
.col-one .content,.col-two .content {
    margin-top: 30px;
}
.col-two .content span {
    line-height: 60px;
    font-size: 22px;
}
.col-two .content img {
    border: 1px solid #dddddd;
}
.col-one .content .col-md-4 {
    position: relative;
}
.col-one .content .center {
    text-align: center;
    height: 30px;
    color: #333;
    width: 100%;
    display: block;
}

.item-choosable {
    position: relative;
}
.item-choosable .arrow-prev,.item-choosable .arrow-next {
    position: absolute;
    top: 50%;
    display: block;
}
.item-choosable .arrow-prev {
    left:-25px;
    border: 0;
}
.item-choosable .arrow-next {
    right:-25px;
}
.item-choosable .arrow-prev img,.item-choosable .arrow-next img {
    border: 0px solid #fff!important;
}
@media (min-width: 992px) {
    .homepage-topper-01 .homepage-list {
        width: 200px;
        float: left;
        margin: 0;
    }
    .navbar-brand {
        width: 200px;
        float: left;
    }
    .homepage-topper-01 .homepage-kv {
        margin: 0 0 0 auto;
        width: 770px;
    }
}
@media (min-width: 1440px) {
    .homepage-topper-01 .homepage-list {
        width: 270px;
        float: left;
        margin: 0;
    }
    .navbar-brand {
        width: 270px;
        float: left;
    }
    .homepage-topper-01 .homepage-kv {
        margin: 0 0 0 auto;
        width: 990px;
    }
}
@media screen and (max-width: 767px) {
    .jiny {
        font-size: $font-size-base*1.5;
    }
    .solutions-list {
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 626px;
    }
    .solutions-list img {
        width: 596px;
    }
    .solutions-list h4 {
        font-size: 32px;
    }
    .culture h4, .contactus h4 {
        font-size: 24px;
    }
    .solutions-list p {
        font-size: 24px;
        color: #342427;
    }
    .culture .content {
        font-size: 20px ;
        line-height: 36px;
    }
    .culture h2, .contactus h2, .items h2, .item h2 {
        font-size: 30px;
    }
    .solutions .solutions-desc .solution {
        border-left: 0;
        border-right: 0;
        border-top: 0;
        margin-left: 40px;
        margin-right: 40px;
        padding:40px 0;
    }
    .solutions .solutions-desc .solution h4 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .solutions .solutions-desc .solution p {
        color: #666666;
    }
    .solutions .btn {
        font-size: 24px;
    }
    .solutions .content {
        margin-left: 23px;
        margin-right: 23px;
    }
    .solutions .solutions-desc {
        color: #666666;
    }
    .supports .rows {
        margin-left: 8px;
        margin-right: 8px;
    }
    .supports .supports-more {
        position: relative;
        text-align: center;
        padding-top:110px;
        padding-bottom: 60px;
        border-bottom: 1px solid #a7a7a7;
        right: inherit;
        bottom: inherit;
    }
    .supports .supports-list {
        padding-left: 32px;
        padding-right: 32px;
    }
    .supports-list img {
        width: 560px;
        height: 447px;
    }
    .supports-list p {
        margin-top: 20px;
    }
    .supports h3 {
        margin-top: 50px;
    }
    .supports h3.first {
        margin-top: 0;
    }
    .supports .supports-text-more {
        position: relative;
        text-align: center;
        padding-top:110px;
        padding-bottom: 60px;
        border-bottom: 1px solid #a7a7a7;
        right: inherit;
        bottom: inherit;
    }
    .support .content {
        width: 596px;
        margin: 80px auto 0;
    }
    .support .content h4 {
        font-size: 24px;
        margin: 40px 0;
    }
    .support .content .support-desc {
        margin: 0 20px;
    }
    #slick-one {
        margin:20px 15px;
    }
    .homepage-topper-01 {
        margin-top: 20px;
    }
    .homepage-topper-01 .homepage-kv {
        margin-left: 0px;
    }
    .col-two {
        margin:0 20px;
        position: relative;
    }
    .col-two .content {
        margin:0 55px;
    }
    .col-two .pull-right {
        display: none;
    }
    .col-two .arrow-prev,.col-two .arrow-next {
        position: absolute;
        top: 50%;
        display: block;
    }
    .col-two .arrow-prev {
        left:25px;
    }
    .col-two .arrow-next {
        right:25px;
    }
    footer .part1,footer .part2 {
        height:auto;
        border: 0;
    }
    footer .part2 p {
        font-size: 24px;
    }
    footer .copyright {
        text-align: left;
        padding: 20px 15px;
        font-size: 18px;
    }
    .nav-header-01 {
        margin-top: 0;
        background: #FFF;
        padding-top: 35px;
        padding-bottom: 0;
    }
    .nav-header-01 .navbar-nav {
        padding-left: 160px!important;
    }
    .culture .navbar-nav,.nav-header-01 .navbar-nav {
        padding-left: 0!important;
        margin:0 8%;
    }
    .culture .navbar-nav,.nav-header-01 .navbar-nav li {
        float: left;
        height: 40px;
        text-align: center;
        width: 30%;
    }
    .culture .navbar-nav,.nav-header-01 .navbar-nav li.split {
        width: 5%;
    }
    .culture .navbar-nav li a,.nav-header-01 .navbar-nav li a {
        color:#342427;
        font-size: 24px;
        display: block;
        padding:0;
        line-height: 24px;
    }
    .culture .navbar-nav,.nav-header-01 .navbar-nav li.active a {
        color: #e50011;
    }
    .culture .navbar-nav li span,.nav-header-01 .navbar-nav li span {
        font-size: 24px;
        display: block;
        padding:0;
        line-height: 24px;
        color:#ccc;
    }
    .culture .img-culture {
        padding: 0 15px 50px;
    }
    .contactus .contactusMap {
        margin:30px 15px 50px;
    }
    .contactus .contactusMap #dituContent {
        height: 250px;
    }
    .items .nav > li > a,.item .nav > li > a{
        color:#000;
    }
    .items .nav .nav-header,.item .nav .nav-header {
        margin-top:20px;
        background: #f3f3f3;
    }
    .items h3 {
        text-align: center;
        font-size: 28px;
        margin-bottom: 60px;
    }
    .item .img-item {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .item .item-border {
        border-top: 1px solid #a8a8a8;
        margin: 0 15px;
    }
    .item .item-detail {
        margin: 0 15px;
    }
}
